body {
	margin: 0;
	font-family: 'Lobster', cursive;
	font-size:16px;
	background-color:#e6f5f4;
}

.container {
	display: flex;
}


.sidebar {
	/*margin-top: 50px;*/
	padding: 0;
	width: 230px;
	display: block;
	background-color: #00a090;
	/*position: fixed;*/
	/*height: 100%;*/
	/*overflow: auto;*/
	transition: all 0.5s;
	color: #f2f2f2;
}

.sidebar li {
	list-style: none;
}

.sidebar .logo {
	display: block;
	/*width: 10px;*/
	/*padding: 16px 100px 16px 20px;*/
	/*height: 10px;  */
	margin: auto;
	text-align: center;
	padding: 16px;
	/*margin-left: auto; 
	margin-right: auto; 
	margin-top: 10%;*/
}

.sidebar li a {
	display: block;
	color: #f2f2f2;
	padding: 20px 100px 20px 20px;
	text-decoration: none;
	/*text-align: center;*/
}

.sidebar li a:not(.active) {
	display: block;
	color: #f2f2f2;
	padding: 20px 100px 20px 25px;
	text-decoration: none;
	/*text-align: center;*/
}

.sidebar a.active {
	background-color: #32b5a6;
	color: white;
	border-left: 5px solid #005850;
}

.sidebar a:hover:not(.active) {
	background-color: #32b5a6;
	/*color: white;*/
}

.side-bar i {
	width:50px;
	height:35px;
	text-align:center;
	padding-top:15px;
}


/*.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}*/

.content {
	width: 83%;
}

.main {
	padding: 16px;
	text-align: justify;
	height: 1000px;
}

.navbar {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: auto;
	border-bottom: 5px solid #ceefeb;

	/*z-index:1000;*/
	color: #adadad;
	/*position: fixed;*/
}


.navbar .btn-toggle {
	float: left;
	display: block;
	text-decoration: none;
	padding: 20px 16px 20px 16px;
	cursor: pointer;
}

.navbar .btn-toggle:hover {
	background-color: #ceefeb;
}

.navbar-menu li {
	list-style: none;
	float: right;
}

.navbar-menu a {
	display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
}

.navbar-menu a:hover:not(.active) {
	background-color: #ceefeb;
}

.navbar-menu i {
	cursor:pointer;
	display: block;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 4px;
}

.navbar-menu .search {
	display: block;
	padding: 8px 16px 8px 16px;
	width: 100%;
	margin: 0;
}

.search-text {
	width: 700px;
	padding: 15px;
	font-size: 14px;
	border: none;
	/*height: 52px;*/
	outline: none;
	background: #e6f5f4;
	float: left;
	/*box-sizing: border-box;*/
	/*transition: all 0.15s;*/
	/*margin-top:6px;*/
	/*margin-bottom:5px;*/
}

::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #adadad;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #adadad;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #adadad;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #adadad;
}

.search-text:focus {
	background: #ceefeb;
}

.search-btn {
	/*padding: 15px 0px 15px 0px;*/
	border: none;
	/*width: 60px;*/
	/*height: 42px;*/
	color: #adadad;
	background: #e6f5f4;
	float: left;
	outline: none;
	/*box-sizing: border-box;*/
	/*margin-top:6px;*/
	cursor: pointer;
	/*text-align: center;*/
}

.search-btn i {
	padding: 15.5px;
}

.sidebar.collapsed {
	width: 0;
	overflow: hidden;
}

.content.collapsed {
	width: 100%;
}

/*@media screen and (max-width: 650px) {
.search-text {
	width: 200px;
}
}*/

/*@media screen and (min-width: 621px) {
.search-text {
	width: 150px;
}
}*/

@media screen and (max-width:620px) {
	/* For mobile phones: */
	.content {
		width:100%;
	}

	.sidebar {
		width: 0;
		overflow: hidden;
	}

	.search-text {
		width: 0;
		padding: 0;
	}

	.search-btn {
		background: none;
		padding: 0;
	}

}