<!DOCTYPE html>
<html>
<head>
	<title>E-SMARTBIMBEL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/header.css">
	<style>
		/*.content{
			padding: 100px 0 0 270px;
			font-family: 'Rubik', sans-serif;
		}*/

		* {
			box-sizing: border-box;
		}

		.form {
			border-radius: 5px;
			background-color: ;
			padding: 20px;
		}

		.form input[type=text], select, textarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			resize: vertical;
		}

		.form label {
			padding: 12px 12px 12px 0;
			display: inline-block;
		}

		.form input[type=submit] {
			background-color: #4CAF50;
			color: white;
			margin-top: 20px;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			float: right;
		}

		.form input[type=submit]:hover {
			background-color: #45a049;
		}

		.col-25 {
			float: left;
			width: 25%;
			margin-top: 6px;
		}

		.col-75 {
			float: left;
			width: 75%;
			margin-top: 6px;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		@media screen and (max-width: 600px) {
			.col-25, .col-75, input[type=submit] {
				width: 100%;
				margin-top: 0;
			}
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<div class="logo">
				<img width="100%" src="../../assets/icon/logo.png">
				<!-- <a class="active" href="#home">Judul</a> -->
			</div>
			<div class="sidebar-menu">
				<img style="border-radius: 50%; width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto; padding: 10px" src="../../assets/icon/icebear.jpg">
				<p style="display: block; text-align: center;">Admin</p>
				<li class="header" style="padding: 20px 20px 10px 25px; font-size:16px">MAIN MENU</li>
				<li><a href="dashboard.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Dashboard</a></li>
				<li><a class="active" href="student_list.html"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Student</a></li>
				<li><a href="tentor_list.html"><i class="fa fa-user-graduate"></i>&nbsp;&nbsp;&nbsp;Teacher</a></li>
				<li><a href="schedule_list.html"><i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;Schedule</a></li>
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<a class="btn-toggle" onclick="toggle()">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				<div class="navbar-menu">
					<li><a href="../../index.html"><i class="fa fa-sign-out-alt logout"></i></a></li>
					<li><a href="profile.html">Hai Admin!</a></li>
					<li><a href="#"><i class="fa fa-bell"></i></a></li>
					<li>
						<form class="search" action="#" method="get">
							<input type="text" name="search-text" class="search-text" placeholder="Search ..."></input>
							<span>
								<button type="submit" name="search" class="search-btn"><i class="fa fa-search"></i>
								</button>
							</span>
						</form>
					</li>
				</div>
			</div>
			<div class="main">
				<div class="form">
					<h1>Please Enter The Student Profile</h1>
					<form action="student_list.html">
						<div class="row">
							<div class="col-25">
								<label for="studentname">Student Name</label>
							</div>
							<div class="col-75">
								<input type="text" id="studentname" name="studentname" required 
								pattern="[A-Za-z]+" title="Please input alphabets only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="gender">Gender</label>
							</div>
							<div class="col-75">
								<label><input type="radio" name="jenis_kelamin" value="laki-laki" /> Male</label>
								<label><input type="radio" name="jenis_kelamin" value="perempuan" /> Female</label>
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="placedate">Place, Date of Birth</label>
							</div>
							<div class="col-25">
								<input type="text" id="place" name="place" required 
								pattern="[A-Za-z]+" title="Please input alphabets only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
							<div class="col-25">
								<input type="text" id="date" name="date" required 
								pattern="[0-9]+" title="Please input number only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="address">Address</label>
							</div>
							<div class="col-75">
								<input type="text" id="address" name="address" required 
								pattern="[A-Za-z]+" title="Please input alphabets only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="email">E-Mail</label>
							</div>
							<div class="col-75">
								<input type="text" id="Email" name="Email" required 
								pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please input your mail only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="grade">Grade of School</label>
							</div>
							<div class="col-75">
								<select id="grade" name="grade" required>
									<option>4rd of elementary school</option>
									<option>5rd of elementary school</option>
									<option>6rd of elementary school</option>
									<option>1rd of junior high school</option>
									<option>2rd of junior high school</option>
									<option>1rd of junior high school</option>
									<option>1rd of senior high school</option>
									<option>2rd of senior high school</option>
									<option>3rd of senior high school</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="school">School name</label>
							</div>
							<div class="col-75">
								<input type="text" id="school" name="school" required 
								pattern="[A-Za-z]+" title="Please input alphabets only">
								<!-- oninvalid="setCustomValidity('Please input alphabets only')" -->
							</div>
						</div>
						<div class="row">
							<input type="submit" value="Simpan">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	function toggle(){
		document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed');
		document.getElementsByClassName('content')[0].classList.toggle('collapsed');
	}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	$(window).resize(function() {
		if ($(".content").width() > 1200) {
			$(".search-text").css("width", "900px");
		} 
	});
</script>
</html>